.card {
  width: 90%;
  border: solid darkslategray 3px;
  background-color: lightgray;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.box-for-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-pls {
  border-radius: 50%;
  background-color: rgb(43, 43, 43);
  color: white;
  border: none;
}

.btn-pls:hover {
  cursor: pointer;
  background-color: black;
}
.btn-pls:active {
  cursor: pointer;
  background-color: white;
  color: black;
}
.wrapper-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}
