.black {
  background-color: black;
  color: white;
  // font-weight: 800;
  transition-duration: 3s;
}

.white {
  background-color: rgb(29, 0, 83);
  color: white;
  // font-size: 1.5rem;
  transition-duration: 3s;
}
