<div>
  <h1>hello!</h1>
  <p appStyle="brown"
  fontWeight = "800"
  [dStyles]= "{
    border: 'solid black 1px',
    fontWeight: '800',
    borderRabius: '10px'}"
  >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ipsam ducimus animi ab nostrum.</p>
  <p appStyle="green "
  fontWeight = "800"
  [dStyles]= "{
    border: 'solid black 1px',
    fontWeight: '800',
    borderRabius: '10px'}"
  >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ipsam ducimus animi ab nostrum.</p>
</div>
<button (click)="boxVisible = !boxVisible">toggle</button>
<div class="wrap" *appNoif="!boxVisible">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, incidunt tempore sunt modi eos dolore tenetur repudiandae minus consequuntur suscipit!</p>
</div>
<!-- <div class="wrap" *ngIf='boxVisible'>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, incidunt tempore sunt modi eos dolore tenetur repudiandae minus consequuntur suscipit!</p>
</div> -->
