.input {
  display: block;
  margin: 1rem .5rem;
  width: 80%;
  max-width: 800px;
}
.btn {
  margin: 1rem .5rem;
  background-color: darkslategray;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
