.form-input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 300px;

  .form-control {
    margin-bottom: 1rem;
  }

  .btn {
    background-color: black;
    color: #fff;
    width: 100px;
    padding: 10px;
    margin-bottom: 1rem;
  }
}



